@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
    --gim1: #0d7377;
    --transparent: #4c4c4c;
    --tercer-color: #323232;
    --cuarto-color: #212121;
    --quinto-color:  #14ffec;
}

h1, h5{
    font-family: 'Montserrat', sans-serif;
}

a.destacado{
    color: #ffffff !important;
}

h5.color{
    color: var(--quinto-color);
}

label, a, p{
    font-family: 'Cinzel Decorative', cursive;
}

button.login{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

a.register{
    color: var(--quinto-color) !important;
}

a.register:hover{
    color: #ffffff !important;
}

button.propia{
    margin-left: 4px;
    margin-right: 4px;
}

body{
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    color: var(--light);
}

input.margin{
    border-bottom: 6px solid #14ffec !important;
}

.bg-dark { 
    background-color: var(--cuarto-color) !important; 
}

/* Estilos Logo, con la clase que le agregamos */
.custom-img{
    width: 300px;
    display: block !important;
    margin: 0 auto !important;
}

.bg-dark-x{
    background-color: var(--light);
}

/* agregamos la clase del boton de inciar sesion para que tengan el mismo estilos que los input */
.form-control{
    /* Con esta propiedad agrandomos los imput del formulario de bootsrap */
    min-height: 3.125rem;
    line-height: initial;
    border-bottom: 6px solid #14ffec !important;
    font-weight: 600;
}

.btn{
    /* Con esta propiedad agrandomos los imput del formulario de bootsrap */
    min-height: 3.125rem;
    line-height: initial;
}

.form-select{
    /* Con esta propiedad agrandomos los imput del formulario de bootsrap */
    min-height: 3.125rem;
    line-height: initial;
    border-bottom: 6px solid #14ffec !important;
    font-weight: 600;
}


.img-1{
    background-image: url(../../Extras/imgCarrusel/sushil-ghimire-eFx1KZhaSvo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.7); /* Ajusta la opacidad deseada */
}

.img-2{
    background-image: url(../../Extras/imgCarrusel/barbell-ga2dc664c7_1280.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.7); /* Ajusta la opacidad deseada */
}

.img-3{
    background-image: url(../../Extras/imgCarrusel/atleta-masculino-entrenando-duro-gimnasio.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.7); /* Ajusta la opacidad deseada */
}

@media screen and (min-width: 1300px) and (max-width: 1483px){
    .img-1{
        height: auto;
    }
    .img-2{
        height: auto;
    }
    .img-3{
        height: auto;
    }
}
